
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload</title>
</head>

<body>
    <div id="upload-file">
        <form method="post" action="Upload" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <dl>
                <dt>
                    <label for="file"></label>
                </dt>
                <dd>
                    <input type="file" name="file" id="file" accept=".xlsx, .csv" class="form-control" 
                    onchange="validateFileType()" />
                    <span id="fileValidation" class="text-danger"></span>
                </dd>
            </dl>
            <input class="btn btn-primary" type="submit" value="Upload">
        </form>
    </div>
</body>

</html>
